openapi: 3.0.3
info:
  title: Payment Service API
  description: API для управления заказами и клиентами автомастерской
  version: 1.0
servers:
  - url: http://payment-service.com/v1
paths:
  /api/balance:
    get:
      summary: Get current balance
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
  /api/payments:
    post:
      summary: Make payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment was processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSuccessResponse'
        '400':
          description: Bad Request (Insufficient funds)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsufficientFundsError'
components:
  schemas:
    Balance:
      type: object
      properties:
        balance:
          type: number
          format: double
          example: 128.83

    PaymentRequest:
      type: object
      properties:
        amount:
          type: number
          format: double
          example: 44.15

    PaymentSuccessResponse:
      type: object
      properties:
        balance:
          type: number
          format: double
          description: Remaining balance after payment
          example: 132.45

    InsufficientFundsError:
      type: object
      properties:
        error:
          type: string
          example: Insufficient funds
        requiredAmount:
          type: number
          format: double
          example: 224.81
        availableBalance:
          type: number
          format: double
          example: 150.00
